html {
    margin: auto;
    font-size: 12pt;
}

body {
    font-size: large;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
    width: 100%;
}